@font-face {
  font-family: "dmSerif";
  src: url("../public/fonts/DMSerifText-Regular.ttf");
}

:root {
  --border-radius: 8px;
  --shadow-alpha: 0.1;
  --row-height: 20px;
  --color-1: #073b4c;
  --color-2: #ebebeb;
  --color-3: #0ead69;
  --color-4: #ed6a5a;
  --color-5: #ffffff80;
  --color-6: #00000080;
}

html,
body {
  background-color: var(--color-1);
  padding: 0;
  margin: 0;
  height: 100%;
}

.input {
  padding: var(--border-radius);
  border-radius: var(--border-radius);
  margin: var(--border-radius);
  border: 0;
}

.button {
  border-radius: var(--border-radius);
  padding: calc(var(--border-radius));
  margin: calc(var(--border-radius));
  height: auto;
  background-color: inherit;
  border: 0;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  color: var(--color-2);
  cursor: pointer;
}

.page-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  overflow-x: hidden;
}

.nav-bar {
  padding: calc(var(--border-radius));
  display: flex;
  flex-direction: column;
  min-width: 170px; /* Allocate space for scrollbar On Firefox */
  transition: display 2s ease-in-out;
}

.logo {
  color: var(--color-2);
  display: flex;
  justify-content: center;
  font-family: dmSerif;
}

.desktop-logo,
.mobile-logo {
  padding-left: calc(var(--border-radius) * 2);
}

.nav-items {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1;
  margin-top: var(--border-radius);
}

.nav-items > button {
  display: flex;
  align-items: center;
  align-self: baseline;
  width: 100%;
  margin-bottom: var(--border-radius);
  padding: calc(var(--border-radius) * 2);
  border-radius: var(--border-radius);
  background-color: inherit;
  border-width: 0;
  color: var(--color-2);
}

.nav-items > button:hover {
  background-color: var(--color-2);
  color: var(--color-1);
  cursor: pointer;
}

.nav-items > #selected {
  background-color: var(--color-2);
  color: var(--color-1);
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 320px;
}

.header {
  display: flex;
}

.route-label {
  color: var(--color-2);
  justify-content: center;
}

.expanding-space {
  flex: 1;
}

.mobile-header-container {
  display: flex;
}

.header-button,
.header-input {
  margin: var(--border-radius);
  margin-left: 0;
}

.login-form {
  display: flex;
}

.login-error-label {
  display: flex;
  align-items: center;
  align-self: center;
  padding: var(--border-radius);
  color: var(--color-4);
  font-weight: bold;
  text-shadow: var(--color-5);
}

.register-form {
  display: flex;
}

#user-login-button {
  background-color: var(--color-3);
}

#user-cancel-button {
  background-color: var(--color-4);
}

#user-logout-button,
#user-register-button {
  background-color: var(--color-5);
}

.landing-content {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../public/background.png"),
    linear-gradient(to right, /* Adjust direction as needed */ #ff7e5f, /* Start color */ #feb47b /* End color */);
  background-size: cover, cover, cover; /* Ensures both gradients and image cover the viewport */
  background-position: left, left, left; /* Centers both gradients and image */
  background-repeat: no-repeat, no-repeat, no-repeat; /* Prevents repetition of gradients and image */
  background-position-x: 0, 100px, 0;
  background-position-y: 0, -100px, 0;
  flex: 1;
  display: flex;
  justify-content: center;
  color: var(--color-2);
  font-family: dmSerif;
}
.landing-content > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.landing-top {
  font-size: 48px;
  margin: 50px;
  text-align: center;
  text-shadow: black 0 0 10px;
}
.landing-center {
  font-size: 36px;
  display: flex;
  color: rgb(192, 200, 177);
  text-shadow: black 0 0 10px;
  justify-content: center;
  flex: 1;
}
.landing-center > div {
  text-align: center;
  margin: 40px;
  padding: 40px;
  flex: 1;
}
.landing-bottom {
  flex: 1;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: end;
}
.data-container {
  border-top-left-radius: calc(var(--border-radius) * 3);
  background-color: var(--color-2);
  overflow-y: auto;
  flex: 1;
  box-shadow: inset 0px 0px calc(var(--border-radius) * 2) gray;
}

.options-container {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-1);
  border-radius: calc(var(--border-radius) * 2);
  position: sticky;
  top: 0;
  z-index: 1;
  margin: calc(var(--border-radius));
  margin-bottom: var(--border-radius);
  margin-top: 0;
  top: var(--border-radius);
  box-shadow: 0px 0px calc(var(--border-radius) * 2) gray;
}

.options-container > button {
  color: var(--color-2);
  background-color: var(--color-3);
  border-radius: var(--border-radius);
  padding: calc(var(--border-radius));
  margin: calc(var(--border-radius));
}

.vehicle-selector {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow-y: auto;
  height: 100%;
  text-align: center;
  padding-right: 5px;
}

.vehicle-selector > button {
  border-radius: calc(var(--border-radius));
  padding: calc(var(--border-radius));
  margin: calc(var(--border-radius));
  margin-right: 0;
  background-color: inherit;
  color: var(--color-2);
}

.vehicle-selector > button:hover {
  background-color: var(--color-2);
  color: var(--color-1);
}

.vehicle-selector > #selected {
  background-color: var(--color-2);
  color: var(--color-1);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(480px, 1fr)
  ); /* Make columns adjust according to the available viewport */
  grid-gap: 0px;
  grid-auto-rows: 20px;
  flex: 1;
  padding-left: calc(var(--border-radius));
  padding-top: calc(var(--border-radius)); /* For proper top box-shadow */
  overflow-y: auto;
  top: 0;
  position: sticky;
}

.card {
  border-radius: calc(var(--border-radius) * 2);
  padding: calc(var(--border-radius) * 2);
  margin: calc(var(--border-radius));
  margin-left: 0;
  margin-top: 0;
  height: auto;
  box-shadow: 0px 0px var(--border-radius) gray;
  line-height: var(--row-height);
}

.card:hover {
  box-shadow: 0px 0px 5px black;
}

.card ul {
  margin: 0;
}

.data-card {
  break-inside: avoid-column;
  display: inline-block;
  box-sizing: border-box;
}

.card-title {
  font-weight: bold;
}

.card-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card-title {
  font-weight: bold;
}

.card-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card-dotfill {
  flex: 1;
  border-bottom: 1px dotted;
  margin: 4px;
}

.form-title-container {
  display: flex;
  justify-content: space-between;
  padding-right: var(--border-radius);
}

.form-button-container {
  display: flex;
  justify-content: space-between;
}

.form-button-container > button {
  flex: 1;
  border: 0;
  margin: var(--border-radius);
  margin-right: 0;
  border-radius: var(--border-radius);
}

.form-button-container .add-button {
  background-color: var(--color-3);
  margin-right: var(--border-radius);
}

.form-button-container .update-button {
  background-color: var(--color-3);
  margin-right: var(--border-radius);
}

.form-button-container .close-button {
  background-color: var(--color-6);
}

.form-button-container .delete-button {
  background-color: var(--color-4);
}

.card-title-container {
  display: flex;
  justify-content: space-between;
}

.settings-container {
  margin: var(--border-radius);
  padding: var(--border-radius);
  display: flex;
  flex-direction: column;
}

.settings-container > div {
  display: flex;
  align-items: center;
}

.settings-container > div .col1 {
  min-width: 56px;
}

.settings-container > div .col2 {
  flex: 1;
  padding-left: var(--border-radius);
  max-width: 240px;
}

.settings-button {
  border-radius: var(--border-radius);
  padding: calc(var(--border-radius));
  margin: calc(var(--border-radius));
  height: auto;
  border: 0;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  color: var(--color-2);
  cursor: pointer;
  background-color: var(--color-3);
}

.MuiDialog-root {
  border-radius: calc(var(--border-radius) * 2);
}

.MuiPaper-root {
  border-radius: calc(var(--border-radius) * 2);
}

.MuiInputBase-root {
  border-radius: calc(var(--border-radius));
}

@media (max-width: 768px) {
  /* Change max-width value in header.tsx together */

  .nav-bar {
    min-width: 80vw;
    max-width: 80vw;
  }

  .header {
    flex-direction: column;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  .header-button,
  .header-input {
    margin-left: var(--border-radius);
  }

  .vehicle-selector {
    flex-direction: row;
    overflow-x: auto;
    max-width: max-content;
    max-height: 5em;
  }
  .card-container {
    grid-template-columns: 100%;
    overflow-y: unset;
  }
  .landing-content {
    background-position-x: 0, -50px, 0;
    background-position-y: 0, -200px, 0;
  }
  .landing-top {
    font-size: 32px;
    margin: 50px;
  }
  .landing-center {
    font-size: 28px;
    flex-direction: column;
  }
  .landing-center > div {
    margin: 10px;
    padding: 10px;
  }
}
